body {
  font-family: 'Poppins',
    sans-serif;
}

* {
  padding: 0px;

  margin: 0px;

}


.hero-background {
  background-image: url(images/donation5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;

}

h1 {
  font-size: 50px;
  text-align: center;
  color: white
}

p {
  font-size: 20px;
  text-align: center;
  padding-left: 200px;
  right: 200px;
  margin-top: 50px;
  color: white;
  margin-right: 20px;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  color: white;
  font-weight: 700px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
  margin-left: 50px;
}

.head {
  padding: 300px;
  text-align: center;
}


/* backgorund image first section complete */





